[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
timekeeper = {path = ".",editable = true}
ruff = "*"

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.12"
